.card-carousel {
  width: 100%;
  background-image: url("../../../public/assets/images/home-page/20eb96dd-baf5-4328-8201-184183638318.jpg"); // Path to your image
  background-size: cover; // Ensures the image covers the entire container
  background-position: center; // Centers the image
  background-repeat: no-repeat; // Prevents the image from repeating
  padding: 10px 20px;
  margin-top: 20px;
  overflow: hidden;

  .card-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 3rem 0;
    h4 {
      font-size: 2rem;
      font-weight: 200;
      font-family: var(--font-Yesteryear);
      padding-bottom: 1rem;
      color: rgb(236, 118, 118);
    }
    h2 {
      font-size: 2.5rem !important;
      font-weight: 600;
      font-family: Mukta, sans-serif;
    }
  }

  .marquee {
    display: flex;
    padding: 0 10px;

    .card {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 350px;
      flex-shrink: 0;
      margin: 15px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: translateY(-10px); // Move card upward
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }

      .card-image-card {
        position: relative;
        overflow: hidden; // Ensures the image doesn't exceed the container
        border-radius: 6px 6px 0 0;
        .card-image {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 6px 6px 0 0;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1); // Slightly scale the image
          }
        }

        .city-overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%; // Cover full height of the image
          background: rgba(0, 0, 0, 0.4); // Semi-transparent black layer
          color: #fff;
          display: flex;
          flex-direction: column; // Display content in a column
          justify-content: flex-end; // Align content to the bottom
          align-items: start;
          padding: 10px;
          font-size: 18px;
          font-weight: bold;
          text-align: left;
          z-index: 2;
          border-radius: 6px 6px 0 0; // Match image border radius

          h5 {
            margin: 0;
            color: white;
          }

          p {
            margin: 5px 0 0;
            font-size: 14px;
            color: white;
          }
        }
      }
      .card-info {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        border-bottom: 1px solid rgb(223, 220, 220);
      }

      .card-span {
        width: 100%;
        height: 100%;
        border-right: 1px solid gray;
        text-align: center;
        font-size: small;
      }

      .card-span:last-child {
        border: none;
      }

      .card-icons {
        transform: rotate(25deg);
        margin-right: 5px;
        color: rgb(255, 123, 0);
        width: 15px;
        height: 15px;
      }

      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
        color: #ff4141;
      }

      .card-description {
        font-size: 14px;
        color: #555;
        margin: 10px;
      }

      .card-button {
        display: inline-block;
        border-radius: 50px;
        border: 2px solid black;
        padding: 10px 20px;
        text-align: center;
        font-size: 16px;
        color: black;
        background-color: transparent;
        cursor: pointer;
        margin: 15px 30px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: rgb(255, 115, 0);
          color: white;
          border-color: white;
        }
      }
    }
  }
}
